@charset 'utf-8';

/**
 * matcha.layout.css
 * 布局
 */

.container {
	width: 100%;
	padding: 1em 2em;
	padding-top: 2.8em;
	box-sizing: border-box;
	min-height: 100vh;
	position: relative;
	padding-bottom: 8em!important;
	transition: background .3s;
	max-width: 100%
}
@media (min-width: 992px){
	.container {
		max-width: 750px;
		margin-left: calc(50% - 300px);
		padding: 2.8em;
	}
}
@media (min-width: 1200px){
	.container {
		max-width: 815px;
		margin-left: calc(50% - 400px);
		padding: 2.8em;
	}
}
.widget-list li ul {
	margin-left: 0px;
	margin-right: 30px;
}
#footer {
	margin-top: 0px;
}

@media (max-width: 992px) {
	.small-header {
		display: block!important;
	}
	#helpbar {
		display: none
	}
	.header {
		display: none;
	}
	.sidebar {
		display: none!important;
	}
}


/* helpbar button */
#back2top,
#focus-mode-close {
	color: #fff;
	background: var(--theme-color);
	border: none;
	border-radius: 100%;
	padding: .7em .9em;
	font-size: 1.1em;
	font-weight: bold;
	box-shadow: 0 0 .2em var(--light-bg);
	cursor: pointer;
	position: fixed;
	bottom: 1.5em;
	right: 1em;
	transition: .4s;
	z-index: 60
}

#helpbar {
	position: fixed;
	top: 0;
	right: 0;
	padding: .6em .5em;
	z-index: 60
}
#helpbar button {
	border-radius: 100%;
	color: var(--text-gray);
	background: var(--white-or-black);
	width: 2.5em;
	height: 2.5em;
	display: block;
	text-overflow: clip;
	overflow: hidden;
	margin-bottom: .25em;
	box-shadow: 0 0 .15em var(--gray-bg);
	border: 1px solid var(--light-gray-bg);
	transition: background .3s
}
#helpbar button:hover {
	background: var(--theme-color);
	color: #fff
}

@media (min-width: 1200px) {
	#helpbar button {
		margin-left: .25em;
		display: inline-block;
	}
}

.helpbar-up {
	bottom: 4.8em!important
}

/* sidebar */

.small-header {
	display: none;
}
.sidebar {
	position: fixed;
	top: 2.8em;
	left: 0;
	bottom: 0;
	text-align: right;
	width: calc(50% - 300px);
	display: flex;
	flex-direction: column;
	justify-content: space-between
	
}
@media (min-width: 1200px){
	.sidebar {
		width: calc(50% - 400px);
	}
}


/* 缩略图 */

.post-text {
	flex-grow: 1
}

.post-thumbnail {
	width: 30%;
	margin-left: 1em;
	flex-shrink: 0;
	border-radius: 5px;
	position: absolute;
	top: .3em;
	bottom: .3em;
	right: 0
}

.post-thumbnail a:hover {
	opacity: 1
}
.post-thumbnail:hover img {
	transform: scale(1.2)
}

.post-thumbnail,
.post-thumbnail-atpage {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none
}

.post-thumbnail img,
.post-thumbnail-atpage img {
	width: 100%;
	display: block;
	transition: transform .3s
}

.post-thumbnail-atpage {
	height: 250px;
	margin-bottom: 2em
}

@media (min-width: 768px) {
	.post-atmain.post-with-thumbnail {
		position: relative;
		padding-right: 32%
	}
}


/* page navigator - 选页器 */
.page-navigator:not(.comment-pagenav .page-navigator) {
	display: flex;
	justify-content: space-between
}
.page-navigator:not(.comment-pagenav .page-navigator) a {
	color: var(--text-color);
	font-size: 1.1em;
	border: 1px solid var(--gray-bg);
	border-radius: 100%;
	display: inline-block;
	font-weight: bold;
	transition: .3s;
	height: 2.5em;
	width: 2.5em;
	overflow: hidden;
	box-sizing: border-box;
	line-height: 2.3em;
	text-align: center
}
.page-navigator:not(.comment-pagenav .page-navigator) a:hover {
	text-decoration: none;
	background: var(--theme-color);
	border-color: var(--theme-color);
	color: #fff
}
.page-navigator:not(.comment-pagenav .page-navigator) #next .iconfont {
	display: inline-block;
	transform: rotate(90deg)
}
.page-navigator:not(.comment-pagenav .page-navigator) #previous .iconfont {
	display: inline-block;
	transform: rotate(-90deg)
}
