@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&family=Noto+Serif+SC&family=ZCOOL+XiaoWei&display=swap');

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:root {
	--theme-color: #c5c56a
}

body {
	background: #fcfcfc;
	margin: 0;
	color: #444;
	font-size: 100%;
	font-family: 'Noto Serif SC', serif!important;
	word-break: break-all;
	box-sizing: border-box
}

body,
html {
	scroll-behavior:smooth
}

a {
	color: var(--theme-color);
	text-decoration: none;
	transition-property: opacity;
	transition: .3s
}

a:hover {
	opacity: .8
}

a:hover,a:active {
	text-decoration: none;
}

p {
	line-height: 1.75;
	display: block;
	margin-block-start: 8px;
	margin-block-end: 8px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.browsehappy {
	padding: 8px 0;
	background: #FBE3E4;
	color: #8A1F11;
	text-align: center;
}

.browsehappy a {
	color: #8A1F11;
	text-decoration: underline;
	font-weight: bold;
}

.header {
	padding-top: 35px;
	border-bottom: 1px solid #EEE;
}

.header a,
.header-journal a {
	font-family: 'ZCOOL XiaoWei', serif!important;
}

#logo {
	color: #333;
	font-size: 2rem;
}

#logo:hover {
	text-decoration: none;
}

#logo img {
	max-height: 64px;
}

.description {
	margin: .5em 0 0;
	color: #999;
	font-style: italic;
}

#nav-menu {
	margin: 25px 0 0;
	padding: 0;
}

#nav-menu a {
	display: block;
	margin-right: -1px;
	padding: 0 20px;
	border: 1px solid #EEE;
	border-bottom: none;
	height: 32px;
	line-height: 32px;
	color: #444;
	float: left;
}

#nav-menu a:hover,#nav-menu .current {
	background: #F6F6F6;
}

#search {
	position: relative
}

#search input {
	padding-right: 30px;
}

#search a {
	position: absolute;
	background: transparent;
	right: 0;
	top: 0;
	bottom: 0;
	border: none;
    width: 2em;
	display: inline-block;
	line-height: 3em;
	color: #666;
	cursor: pointer
}

.post {
	padding: 15px 0 20px;
	border-bottom: 1px solid #EEE;
	font-size: 1.05em;
}
.post:nth-last-of-type(1) {
	border: none;
}

.post-title {
	margin: .83em 0;
	font-size: 1.4em;
}

.post-meta {
	margin-top: -0.5em;
	padding: 0;
	color: #999;
	font-size: .92857em;
}

.post-meta li {
	display: inline-block;
	margin: 0 8px 0 0;
	padding-left: 12px;
	border-left: 1px solid #EEE;
}

.post-meta li:first-child {
	margin-left: 0;
	padding-left: 0;
	border: none;
}

.post-content {
	line-height: 1.5;
}

.post .tags {
	clear: both;
}

.archive-title {
	margin: 1em 0;
	padding-top: 20px;
	color: #999;
	font-size: 1em;
}

.more {
	text-align: center;
}

.more a {
	border: none;
}

.protected .text {
	width: 50%;
}

h3.comment-closed {
	font-weight: 400;
	color: #fff;
	background: var(--theme-color);
	text-align: center;
	padding: .5em 1em;
	width: fit-content;
	margin: 0 auto;
	border-radius: 3px;
	user-select: none;
	cursor: pointer;

	transition: opacity .3s
}
h3.comment-closed.fade {
	opacity: 0;
}

.comment-list li {
	padding: 10px;
	padding-left: 30px;
	padding-right: 0;
	margin-top: 10px;
	/* border: 1px solid #EEE; */
}

.comment-list li .comment-reply {
	text-align: right;
	font-size: .92857em;
}

.comment-meta a {
	color: #999;
	font-size: .92857em;
}

.comment-author {
	display: block;
	margin-bottom: 3px;
	color: #444;
}

.comment-author .avatar {
	float: left;
	margin-right: 10px;
}

.comment-author cite {
	font-weight: bold;
	font-style: normal;
}

.comment-list .respond {
	margin-top: 15px;
	border-top: 1px solid #EEE;
}

.fadeIn {
	animation: fadeIn .3s
}
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateX(3em)
	}
	to {
		opacity: 1;
		transform: translateX(0)
	}
}

#secondary {
	padding-top: 15px;
	word-wrap: break-word;
}

.widget {
	margin-bottom: 30px;
}

.widget-list {
	list-style: none;
	padding: 0;
}

.widget-list li {
	margin: 5px 0;
	line-height: 1.6;
}

.widget-list li ul {
	margin-left: 15px;
}

#footer {
	padding: 2em 0;
	line-height: 1.5;
	text-align: center;
	color: #999;
}

.error-page {
	display: flex;
	flex-direction: row;
	max-height: 100vh;
	clear: both;
	max-width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 7em;
	left: 0;
	right: 0;
}
.error-page .error-img {
	width: 15em;
	height: 15em;
	margin-right: 1em;
	opacity: .75
}
.error-page .error-info {
	overflow: hidden
}
.error-page .error-info .error-title {
	font-weight: 500;
	margin: .5em 0;
	margin-top:0
}
.error-page .error-info .error-404 {
	color: var(--theme-color);
	font-size: 6em;
	margin: 0;
}
@media (max-width:800px) {
	.error-page {
		display: block;
		text-align: center;
		position: static
	}
	.error-page .error-img {
		display: block;
		margin: 0 auto
	}
}

.post-content,.comment-content {
	line-height: 1.5;
	word-wrap: break-word;
}

.post-content h2,
.comment-content h2 {
	margin: 1em 0;
	font-size: 1.28571em;
	border-left: .3em solid var(--theme-color);
	padding-left: .5em;
	margin-left: -.8em;
	line-height: 1;
	font-weight: 600
}
@media (min-width: 1200px) {
	.post-content h2,
	.comment-content h2 {
		font-size: 1.4em;
	}
}

.post-content h3,
.comment-content h3 {
	font-weight: 600;
	margin-left: -.95em
}
.post-content h3::before,
.comment-content h3::before {
	content: '#';
	color: var(--theme-color);
	margin-right: .4em
}

.post-content img,.comment-content img,.post-content video,.comment-content video {
	max-width: 100%;
	border-radius: 3px
}

.post-content a img,.comment-content a img {
	background: #FFF;
	position: relative;
	bottom: -4px;
}

.post-content hr,.comment-content hr {
	margin: 2.6em auto;
	margin-top: 1.7em;
	border: none;
	display:block
}
.post-content hr:before,
.comment-content hr:before {
    color: rgba(0, 0, 0, 0.2);
    font-size: 1.1em;
    display: block;
    content: "* * *";
    text-align: center;
	letter-spacing: .3em;
}

.post-content ul,
.post-content ol,
.comment-content ul,
.comment-content ol {
	padding-left: 1.2em!important
}

.post-content ul li,
.comment-content ul li {
	list-style-type: square
}

.post-content ol li,
.comment-content ol li {
	list-style-type: decimal
}

.post-content ul>ul li,
.post-content ol>ul li,
.comment-content ul>ul li,
.comment-content ol>ul li {
	list-style-type: disc
}

.post-content ol>ol li,
.post-content ul>ol li,
.comment-content ol>ol li,
.comment-content ul>ol li {
	list-style-type: lower-roman
}

.post-content a,
.comment-content a {
	border-bottom: 2px solid #dfdfdf;
	transition-property: border, opacity, color;
	box-sizing: border-box
}

.post-content a:hover,
.comment-content a:hover {
	border-color: var(--theme-color);
}

.post-content pre,
.post-content code,
.comment-content pre,
.comment-content code {
	background: #F3F3F3;
	font-family: /*Menlo,*/Monaco,Consolas,"Lucida Console","Courier New",monospace;
	font-size: 100%;
}
.post-content code,
.comment-content code {
	padding: 0.1em 0.4em;
    color: var(--theme-color);
    border-radius: 2px;
}
.post-content pre,
.comment-content pre {
	padding: 8px;
	overflow: auto;
	max-height: 400px;
	overflow: auto;
	padding: 1.2em;
	border-radius: 3px
}
.post-content pre code,
.comment-content pre code {
	padding: 3px;
	color: #444;
}

.post-content blockquote,
.comment-content blockquote {
	margin: 1em 0;
	color: #666;
    position: relative;
    padding-left: .8em;
    border-left: 8px solid rgba(0, 0, 0, 0.05);
}

.post-content figure {
	margin: 0
}

.post-content figcaption {
	font-size: .9em;
	color: rgba(0,0,0,.5);
	text-align: center;
	display: block;
	line-height: 2
}

.post-content img[src=""], 
.post-content img:not([src]) {
	display: none
}

/* 适配 BracketDown 插件 */

.post-content details summary {
	list-style-type: none
}
.post-content details summary::before {
	content: '\e642';
	font-family: "iconfont" !important;
	display: inline-block;
	transition: transform .3s;
	margin-right: .5em
}
.post-content details[open]:not(.closing) summary::before {
	transform: rotate(90deg)
}

.post-content details[open] summary ~ * {
	animation: sweepIn .3s ease-in-out;
}

.post-content details.closing .bracketdown-details-content {
	animation: sweepOut .3s ease-in-out;
}
.post-content details .bracketdown-details-content {
	margin-left: 1.5em!important
}

@keyframes sweepIn {
	0%    {opacity: 0; transform: translateY(-10px); margin-bottom: -10px}
  	100%  {opacity: 1; transform: translateY(0)}
}

@keyframes sweepOut {
	0%    {opacity: 1; transform: translateY(0);}
  	100%  {opacity: 0; transform: translateY(-10px); margin-bottom: -1.5em}
}

.post-content details summary::-webkit-details-marker {
    display: none /* for Chrome */
}

.bracketdown-block {
	background: rgb(0,50,20,.03)!important;
	border: 1px dashed var(--theme-color)!important;
	position: relative;
	color: rgba(120,120,40);
	margin-top: .8em
}
.bracketdown-block::before {
	content: 'NOTICE';
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: .7em;
	color: #fff;
	position: absolute;
	top: -.7em;
	left: 1.1em;
	background: rgba(197,197,106,.9);
	font-weight: 400;
	padding: 0 .5em
}

/* end BracketDown */

.aligncenter,div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img.alignleft {
	margin: 0 15px 0 0;
}

img.alignright {
	margin: 0 0 0 15px;
}

@media(max-width:767px) {
	/* body {
		font-size: 81.25%;
	} */

	#nav-menu a {
		float: none;
		display: inline-block;
		margin: 0 -2px;
	}
}

@media(max-width:768px) {
	.header,.post-title,.post-meta {
		text-align: center;
	}
}

@media(min-width:1200px) {
	.container {
		max-width: 952px;
	}
}

.hidden {
	display: none!important;
	visibility: hidden;
}

.sr-only {
	border: 0;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.sr-only.focusable:active,.sr-only.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

/* = = = = = = = = = = */

/* header */
.header,
#small-header,
.sidebar-journal .header-journal {
	/* transition: 0.25s; */
	font-family: "Droid Serif",
		Georgia,
		"Times New Roman",
		"PingFang SC",
		"Hiragino Sans GB",
		"Source Han Sans CN",
		"WenQuanYi Micro Hei",
		"Microsoft Yahei",
		serif;
}
.header .site-title,
#small-header .site-title,
.sidebar-journal .header-journal .site-title {
	font-weight: 400;
	color: #333 !important;
}
.header .site-description,
#small-header .site-description,
.sidebar-journal .header-journal .site-description {
	color: #666;
	font-style: normal;
	font-size: 14px;
	line-height: 20px;
}
#small-header {
	text-align: center;
}
#small-header .page-links {
	margin-top: 20px;
}
#small-header .page-links span:before {
	content: ' · ';
	margin-left: 10px;
	margin-right: 10px;
}
#small-header .page-links span:first-child:before {
	content: '';
	margin: 0;
}
/* header */

/* 评论 */
#comment-form .submit-area {
	background: transparent
}
#comment-form .text {
	background-color: #fff;
	color: #333;
}
#comment-form .textarea {
	min-height: 150px;
	max-height: 500px;
	resize: vertical;
	margin: 0;
	background-color: #fff;
	color: #333;
	resize: none;
}
#comment-form .submit {
	outline: none;
	font-size: 100%;
	color: #fff;
	background: var(--theme-color);
	border: none;
	cursor: pointer;
	margin-top: .6em;
	max-width: 225px
}
#comment-form .submit,
#comment-form .textarea,
#comment-form input:not(.submit-extra input) {
	font-family: /*Menlo,*/Monaco,Consolas,"Lucida Console","Courier New",monospace;
	border-radius: 2px;
	font-size: 1em;
	transition: 0.3s;
	outline: none!important;
	display: block;
	line-height: 1.5;
	padding: .8em;
	flex-grow: 1;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: .5em
}
#comment-form .textarea, 
#comment-form input:not(.submit-extra input) {
	border: 2px solid #eee!important
}
#comment-form .submit-section {
	margin: .8em 0;
}
@media (min-width: 992px){
	#comment-form .submit-action {
		display: flex
	}
	#comment-form .input-email {
		margin: 0 .6em
	}
	#comment-form .submit {
		margin-left: .6em;
		margin-top: 0
	}
}
#comment-form .comments-form-title {
	font-weight: 400!important;
	display: flex;
	align-items: center
}
#comment-form .comments-profile {
	vertical-align: middle;
	flex-grow: 3!important;
	margin-right: 1.2em;
	display: flex;
	align-items: center
}
#comment-form .comments-profile img {
	height: 2.5em;
	width: 2.5em;
	border-radius: 100%
}
#comment-form .comments-profile-author {
	margin-left: .6em
}
#comment-form .comments-profile-name{
	font-size: 1.2em;
	font-family: /*Menlo,*/Monaco,Consolas,"Lucida Console","Courier New",monospace;
	font-weight: 600;
	color: #222
}
#comment-form .comments-logout {
	font-size: .8em;
	color: #fff;
	background: var(--theme-color);
	display: inline-block;
	padding: .1em .3em;
	border-radius: 2px
}
#comment-form .submit {
	position: relative
}
#comment-form .submit .throbber-loader {
	position: absolute;
	top:0;
   	left: 0;
   	right: 0;
   	bottom: 0;
   	margin:auto;
}
.submit-extra {
	display: flex;
	justify-content: space-between;
	margin-top: -.5em
}
.comments-mail-me {
	display: block
}
.comments-mail-me label
.comments-mail-me input {
	display: inline!important;
	width: auto!important
}
.cancel-comment-reply a {
	font-size: .7em;
	margin-left: .5em;
	font-weight: 200;
	background: var(--theme-color);
	color: #fff;
	padding: .2em .4em;
	border-radius: 2px

}
/* 评论列表 */
.avatar {
	width: 40px;
	height: 40px;
	border-radius: 100%;
}
.comment-list {
	margin-top: 2em;
	padding-left: 0
}
.comment-body-inner {
	display: flex;
	margin: 1em 0;
}
.comment-body:not(.comment-children .comment-body) {
	border-bottom: 1px solid #eee;
	padding-top: .2em
}
.comment-body:last-child {
	border: none!important
}
.comment-main {
	padding: 0 1em;
	display: block;
	width: 100%
}
.comment-meta {
	display: flex
}
.comment-meta span {
	display: block
}
.comment-content {
	display: block;
	font-size: 1.1em
}
.comment-content p {
	margin: 0!important
}
.comment-meta {
	margin-top: .2em
}
.comment-meta .comment-author a {
	padding: .2em .4em;
	display: inline-block;
	background: rgba(0, 0, 0, 0.05);
	border-radius: 2px;
	line-height: 1;
	margin-right: .5em
}
.comment-meta .comment-author a:hover {
	color: #fff;
	background: var(--theme-color)
}
.comment-date {
	color: #aaa
}
.comment-reply {
	display: block;
	text-align: center;
	margin-top: .5em
}
.comment-reply a {
	color: #222
}
.comment-children {
	margin-left: 3.5em
}
.comment-children .comment-children {
	margin-left: 0!important
}
.comment-pagenav ol {
	list-style-type: none;
	padding: 0;
	display: flex;
	justify-content: center
}
.comment-pagenav ol li {
	display: inline-block;
	margin: 0 .2em;
}
.comment-pagenav ol li a {
	color: #444;
	font-size: 1.1em;
	border: 1px solid #ddd;
	border-radius: 100%;
	display: inline-block;
	padding: .3em .65em;
	transition-property: color, background;
	transition-duration:.3s;
	overflow: hidden;
	height: 1.5em;
	width: .9em;
	line-height: 1.5em;
	text-align: center
}
.comment-pagenav ol li a:hover {
	color: #fff;
	background: var(--theme-color)
}
/* index - 文章聚合 */
.post-title {
	margin: 0.5em 0;
}
.post-title > a {
	font-weight: 400;
	color: #444;
}
.post-atmain,
.post-atmain .post-title {
	transition: 0.25s;
}
/* index - 文章聚合 */

/* 文章 */
.post-title {
	font-size: 20px;
}
.post-title:not(.post-title-atpage):hover>a {
	color: var(--theme-color)
}
.post-meta {
	margin-top: 0px !important;
}
.post-title-atpage {
	font-size: 1.7em;
	margin-top: .9em;
	font-weight: 400
}
.page-title-atpage {
	font-size: 2em
}
.page-title-atpage::before {
	content: '「';
}
.page-title-atpage::after {
	content: '」';
}
.page-title-atpage::before,
.page-title-atpage::after {
	color: var(--theme-color);
	margin: 0 .3em;
	font-weight: 800
}
.post-header {
	text-align: center;
	margin-bottom: 2em
}
.post-meta * {
	color: #999 !important;
}
.post-meta a:hover {
	color: var(--theme-color) !important;
}
.post-atpage {
	border-bottom: none;
}
.post a {
	text-decoration: none
}
/* 文章 */

/* layout - 布局 & 定位 */
#small-header {
	display: none;
	padding: 40px 40px 28px;
	border-bottom: 2px solid var(--theme-color);
	margin-bottom: 2em
}
.header {
	position: fixed;
	text-align: right;
	left: calc(50% - 600px);
	top: 40px;
	width: 185px;
	margin-left: calc(400px - 50%);
	padding-left: calc(50% - 400px);
	padding-top: 40px;
	padding-bottom: 40px;
	padding-right: 13px;
	border-bottom: none;
	border-right: 2px solid var(--theme-color)
}
.sidebar {
	position: fixed;
	text-align: right;
	left: calc(50% - 600px);
	bottom: 40px;
	width: 180px;
	padding-right: 20px;
}

#body .container {
	margin-left: calc(50% - 400px);
	margin-right: calc(50% - 600px);
	width: 1000px !important;
	max-width: 1000px !important;
	padding: 1em 2em;
	padding-top: 2.8em;
	background: #fcfcfc;
	box-sizing: border-box
}
@media (min-width: 992px){
	#body .container {
		padding: 2.8em;
	}
}
.widget-list li ul {
	margin-left: 0px;
	margin-right: 30px;
}
#footer {
	margin-top: 0px;
}

@media (max-width: 1200px) {
	.header {
		left: calc(50% - 400px);
		margin-left: calc(200px - 50%);
		padding-left: calc(50% - 200px);
	}
	.sidebar {
		left: calc(50% - 400px);
	}
	#body .container {
		margin-left: calc(50% - 200px);
		margin-right: calc(50% - 400px);
		width: 600px !important;
		max-width: 600px !important;
	}
}

@media (max-width: 800px) {
	#small-header {
		display: block;
	}
	.header {
		display: none;
	}
	.sidebar,
	.sidebar-journal {
		display: none!important;
	}
	#body .container {
		margin-left: 0;
		margin-right: 0;
		width: 100% !important;
		max-width: 100% !important;
	}
}
/* layout - 布局 & 定位 */

/* 搜索 */
.site-search {
	width: 100%;
	margin-left: -40px;
	margin-right: -40px;
	margin-bottom: -40px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	transition: 0.25s;
	background-color: #fff;
}
.site-search:hover {
	background-color: #eee;
}
.site-search #s {
	display: block;
	width: 100%;
	max-height: 40px;
	padding: 16px;
	resize: vertical;
	max-width: 100%;
	margin: 0;
	font-size: 14px;
	background-color: #0000;
	line-height: 1.6;
	color: #333;
	border: none;
	border-radius: 0;
	outline: none;
	box-shadow: none;
	overflow: visible;
	border-radius: 0;
	font-family: /*Menlo,*/Monaco,Consolas,"Lucida Console","Courier New",monospace;
	border-bottom: 1px solid #EEE;
	transition: 0.25s;
}
.site-search .submit {
	outline: none;
}
/* 搜索 */

/* 搜索(顶部) beta */
.site-search-top {
	width: 100%;
	margin-left: -40px;
	margin-right: -40px;
	/*margin-bottom: -40px;*/
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	transition: 0.25s;
	background-color: #fff;
}
.site-search-top:hover {
	background-color: #eee;
}
.site-search-top #s {
	display: block;
	width: 100%;
	max-height: 40px;
	padding: 16px;
	resize: vertical;
	max-width: 100%;
	margin: 0;
	font-size: 14px;
	background-color: #0000;
	line-height: 1.6;
	color: #333;
	border: none;
	border-radius: 0;
	outline: none;
	box-shadow: none;
	overflow: visible;
	border-radius: 0;
	font-family: /*Menlo,*/Monaco,Consolas,"Lucida Console","Courier New",monospace;
	border-bottom: 1px solid #EEE;
	transition: 0.25s;
}
.site-search-top .submit {
	outline: none;
}
/* 搜索 */

/* page navigator - 选页器 */
.page-navigator:not(.comment-pagenav .page-navigator) {
	display: flex;
	justify-content: space-between
}
.page-navigator:not(.comment-pagenav .page-navigator) a {
	color: #444;
	font-size: 1.1em;
	border: 1px solid #ddd;
	border-radius: 100%;
	display: inline-block;
	font-weight: bold;
	transition: .3s;
	height: 2.5em;
	width: 2.6em;
	overflow: hidden;
	text-align: center;
	line-height: 2.5em
}
.page-navigator:not(.comment-pagenav .page-navigator) a:hover {
	text-decoration: none;
	background: var(--theme-color);
	border-color: var(--theme-color);
	color: #fff
}
/* page navigator - 选页器 */

/* archive page - 归档页面 */
.archive-model {
	padding-top: .5em;
	padding-bottom: .5em;
	border: none
}
.archive-model a:hover {
	text-decoration: none;
	color: var(--theme-color)
}
.archive-year {
	color: #444;
	font-size: 1.6em
}
.archive-title {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	font-size: 16px;
	font-weight: normal;
}
.archive-title > a {
	color: #444 !important;
}
div.archive-model {
	padding-top: .2em;
	padding-bottom: .2em
}
.archive-year {
	margin: 0;
	margin-bottom: .5em
}
/* archive page - 归档页面 */

.sidebar-foot {
	color: #888;
	font-size: 80%;
	font-family: "Droid Serif",
		Georgia,
		"Times New Roman",
		"PingFang SC",
		"Hiragino Sans GB",
		"Source Han Sans CN",
		"WenQuanYi Micro Hei",
		"Microsoft Yahei",
		serif;
}

/* table - 表格
 * from textretty.css
 */
table {
	border-collapse: collapse;
	border-spacing: 0;
	overflow: auto;
	width: 100%;
}
  
td,
th {
	padding: 0;
}
  
table th {
	font-weight: 600;
	background: #fff;
	background-color: #bcbc6518;
}
  
table td,
table th {
	border: 1px solid #dfe2e5;
	padding: 6px 13px;
}
  
table tr {
	background-color: #fff;
	border-top: 1px solid #c6cbd1;
}
  
table tr:nth-child(even) {
	background-color: #bcbc6518;
}

/* table - 表格 */

.tags-list {
	margin: 0!important;
	padding: 0!important;
	vertical-align: middle;
}
.tags-list li {
	display: inline-block;
	list-style: none
}
.tags-list li a,
.tags-list a {
	color: #000;
	display: inline-block;
	padding: .2em .5em;
	padding-bottom: .3em;
	transition: .3s
}

.tags-list li a:hover,
.tags-list a:hover {
	background-color: rgb(0,0,0,.06);
	text-decoration: none
}
.tags-title {
	color: #999;
	font-size: 1.2em;
	margin-right: .2em
}
.post-tags-list {
	margin-top: 1.5em!important
}
.post-tags-list a {
	font-size: .95em;
	padding: .1em .5em;
	margin-right: .2em;
	border-radius: 3px;
	background: rgb(0,0,0,.035);
}
.post-tags-list a:hover {
	background: var(--theme-color);
	color: #fff
}

#search{
	overflow: hidden;
	border: 2px solid #666;
	border-radius: 2px;
	transition: border-color .3s
}
#search:active,
#search:hover,
#search:focus {
	border-color:var(--theme-color);
	outline: none
}
#search input {
	border: none;
	padding: 1em 1.2em;
	outline: none;
	transition: .3s;
	font-size: 1em;
	display: block;
	width: 100%;
	margin: 0!important
}
#search button {
	cursor: pointer;
	color: #666;
	transition: color .3s
}
#search button:hover {
	color: var(--theme-color)
}

/* back-to-top button */
#back2top {
	color: #fff;
	background: var(--theme-color);
	border: none;
	border-radius: 100%;
	padding: .7em .9em;
	font-size: 1.1em;
	font-weight: bold;
	box-shadow: 0 0 .2em rgba(0, 0, 0, 0.05);
	cursor: pointer;
	position: fixed;
	bottom: 1.5em;
	right: 1em;
	transition: .4s;
	z-index: 20220820
}

/* ScrollBar */
::-webkit-scrollbar {
	width: 6px;
	height: 5px
}
::-webkit-scrollbar-button {
	display: none
}
::-webkit-scrollbar-thumb {
	background: var(--theme-color);
	transition: .2s
}
pre::-webkit-scrollbar {
	width: 4px!important
}
pre::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,.1)!important
}
pre::-webkit-scrollbar-corner {
	background: #f5f2f0!important
}

/* prism toolbar */
div.code-toolbar>.toolbar {
	right: .5em
}
div.code-toolbar>.toolbar>.toolbar-item>button {
	box-shadow: none;
	border-radius: 3px;
	background: transparent;
	color: rgba(0,0,0,.1);
	cursor: pointer;
	border: none;
	font-size: 1.1em;
	transition: background .3s;
	padding: 0 .2em
}
div.code-toolbar>.toolbar>.toolbar-item>button:hover,
div.code-toolbar>.toolbar>.toolbar-item>button:focus {
	background: rgba(0, 0, 0, 0.05);
	color: #aaa
}
div.code-toolbar>.toolbar>.toolbar-item>button::before {
	content: '\e94c';
	font-family: 'iconfont'!important;
	font-weight: 800
}

/* links 友情链接 */

.links-item {
	display: block;
	padding: .6em;
	border-radius: 5px;
	float: left;
	width: 22.5%;
	margin: .5em 0
}
@media (max-width: 1200px) {
	.links-item {
		width: 45%
	}
}
@media (max-width: 798px) {
	.links-item {
		width: 30%
	}
}
@media (max-width: 674px) {
	.links-item {
		width: 45%
	}
}@media (max-width: 478px) {
	.links-item {
		width: 95%
	}
}

.links-item:hover {
	background: rgba(0, 0, 0, 0.05)
}

.links-content {
	display: flex;
	flex-direction: row;
	color: #666;
	align-items: center
}

.links-img {
	height: 3.6em;
	width: 3.6em;
	transition: transform .5s;
	border-radius: 100%
}
.links-item:hover .links-img {
	transform: rotate(360deg)
}

.links-profile {
	margin-left: .8em;
	line-height: 1.2;
	padding: .2em 0
}
.links-profile h4 {
	margin: 0;
	font-weight: 500;
	font-size: 1.1em;
}
.links-profile p {
	margin: 0;
	color: #aaa;
	font-size: .9em;
	line-height: 1.1;
	margin-top: .4em
}

.links-container {
	clear: both;
	margin: 2em 0;
}
/* other */
.external-icon {
	font-size: .9em;
	margin-right: .12em;
	color: #ccc
}

/* style journal */
.style-journal {
	background: #fafafa
}
.style-journal .container {
	box-shadow: 0 0 1em rgba(0,0,0,.1);
	background: #fff!important;
	min-height: 100vh;
	position: relative;
	padding-bottom: 8em!important
}
.style-journal #footer {
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	bottom: 1em
}
.style-journal .post:first-child {
	padding-top: 0
}
.style-journal .page-title-atpage {
	margin-top: 0
}

.sidebar-journal {
	position: fixed;
	top: 2.8em;
	left: 0;
	bottom: 0;
	text-align: right;
	width: calc(50% - 400px);
	display: flex;
	flex-direction: column;
	justify-content: space-between
}
@media (max-width: 1200px) {
	.sidebar-journal {
		width: calc(50% - 200px)
	}
}
.sidebar-journal .header-journal {
	padding-top: 40px;
	padding-bottom: 40px;
	padding-right: 13px;
	border-bottom: none;
	border-right: 4px solid var(--theme-color);
	background: rgba(0,0,0,.03)
}
.sidebar-journal .sidebar-foot {
	margin-right: 20px
}
.sidebar-journal .sidebar-nav .widget-list li,
.sidebar-journal .sidebar-nav .widget-list {
	margin: 0
}
.sidebar-journal .sidebar-nav .widget-list {
	margin-top: .3em
}
.sidebar-journal .sidebar-nav .widget-list li a {
	display: block;
	padding: .3em 20px;
	font-size: 1.1em;
	color: #222;
}
.sidebar-journal .sidebar-nav .widget-list li a:hover {
	background: rgba(0,0,0,.03)
}

/* animation */
.fadeout {
	transition: .7s;
	opacity: 0
}

.spinner {
	/* from nprogress, edited */
	display: block;
	position: fixed;
	z-index: 1031;
	top: 8px;
	right: 8px;
}
.spinner-icon {
	width: 22px;
	height: 22px;
	box-sizing: border-box;
  
	border: solid 4px transparent;
	border-top-color: var(--theme-color);
	border-left-color: var(--theme-color);
	border-radius: 50%;
  
	-webkit-animation: nprogress-spinner 400ms linear infinite;
			animation: nprogress-spinner 400ms linear infinite;
}
  
@-webkit-keyframes nprogress-spinner {
	0%   { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.throbber-loader:not(:required) {
	-moz-animation: throbber-loader 1000ms 300ms infinite ease-out;
	-webkit-animation: throbber-loader 1000ms 300ms infinite ease-out;
	animation: throbber-loader 1000ms 300ms infinite ease-out;
	background: #E6E6AD;
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 0.9em;
	height: 1.5em;
	margin: 0 1.6em;
}
.throbber-loader:not(:required):before, .throbber-loader:not(:required):after {
	background: #E6E6AD;
	content: '\x200B';
	display: inline-block;
	width: 0.9em;
	height: 1.5em;
	position: absolute;
	top: 0;
}
.throbber-loader:not(:required):before {
	-moz-animation: throbber-loader 1000ms 150ms infinite ease-out;
	-webkit-animation: throbber-loader 1000ms 150ms infinite ease-out;
	animation: throbber-loader 1000ms 150ms infinite ease-out;
	left: -1.6em;
}
.throbber-loader:not(:required):after {
	-moz-animation: throbber-loader 1000ms 450ms infinite ease-out;
	-webkit-animation: throbber-loader 1000ms 450ms infinite ease-out;
	animation: throbber-loader 1000ms 450ms infinite ease-out;
	right: -1.6em;
  }
@-moz-keyframes throbber-loader {
	0% {
	  background: #E6E6AD;
	}
	10% {
	  background: var(--theme-color);
	}
	40% {
	  background: #E6E6AD;
	}
}
@-webkit-keyframes throbber-loader {
	0% {
		background: #E6E6AD;
	}
	10% {
		background: var(--theme-color);
	}
	40% {
		background: #E6E6AD;
	}
}
@keyframes throbber-loader {
	0% {
		background: #E6E6AD;
	}
	10% {
		background: var(--theme-color);
	}
	40% {
		background: #E6E6AD;
	}
}

/* 覆盖 bigfoot */
.bigfoot-footnote {
	border-radius: 3px;
	box-shadow: 0 0 .5em rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, 0.2);
	border: none;
	background: #fafafa
}

.bigfoot-footnote__button:hover,
.bigfoot-footnote__button:focus {
	background: var(--theme-color)
}

/* Fluidbox */
.fluidbox-anchor {
	border: none;
}
.fluidbox-anchor:hover {
	opacity: 1
}

.fluidbox__overlay {
	background: #fff
}