/**
 * Toaster.css
 * 
 * Repository: https://github.com/BigCoke233/toaster.js
 * Version: 0.1
 */

@charset 'utf-8';

.toaster {
    position: fixed;
    top: -6em;
    right: 1em;
    transition-property: top, bottom, left, right, transform;
    transition: .3s;
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    line-height: 1.5;
    word-break: break-all;
    overflow: hidden;
    z-index: 20220819;
    user-select: none;

    max-width: 25vw;
    color: #fff;
    padding: 1em 1.3em;
    border-radius: 2px;
    box-shadow: 0.2em 0 .5em rgba(0,0,0,.06);
    cursor: pointer
}

.toaster.toasting,
.toaster.toast-dismissed {
    top: 1em
}

.toaster.toast-dismissed {
    transition: .6s;
    transform: translateX(30vw);
    animation: fadeOut .4s;
}

@keyframes fadeOut {
    0% { opacity: 1 }
    10% { opacity: 1 }
    100% { opacity: 0 }
}